* {

	margin: 			5px;
	padding: 			0px;
}

body {
	background: 		#FFFFFF;
	color:				#fff;
}

#contenedor {
	width: 				1300px;  
	margin: 			auto;
	margin-top: 		20px;
	margin-bottom:  	20px;
	background:			#FFFFFF;

}

header{
	width: 				1300px;  
	height: 			150px;
	background: 		#FFFFFF;
}

.nav > li {
	float:				left;					/* Muestra Menu hacia la derecha*/	
	/*float: 			inherit;			/* Muestra Menu centrado y hacia abajo */
	/*float: none;*/
}

.nav li a {

	width: 				200px;  
	background-color:   #005853;  				/*#005853 Color azul - #F47920 color Naranja */
	color:				#FFFFFF;				/*Cambia el color de la letra*/
	text-decoration:	none;
	padding:			10px 10px;
	display:			block;
	text-align: 		center;
	margin-top: 		20px;
	margin-bottom:  	20px;

}



#contenido{

	width: 				710px;
	height: 			auto;
	margin-top: 		150px;
	background:			#F0B429;
	margin-top: 		100px;
	margin-bottom:  	200px;
	float: left;

}


aside{

	width:		 		500px;	
	background: 		#F0B429;
	float: 				right;
	margin-top: 		100px;
	margin-left: 		0px;
	margin-right: 		50px;
	
	height: 			auto;

}


footer{

	width: 				1260px;	
	background: 		#F0B429;
	margin-top: 		1200px;
	height: 			auto;
	text-align: 		left;
}





p{
	text-align: center;
	color: #000;

}

h1 {
	color: 				#005853;
	
}
header h1{

	font-style:			Helvetica;  			/*Deberia Usar Una Fuente para el proyecto como Franklin Gothic Heavy ò Angsana New */
	font-size: 			50px;
	text-align: 		center;
	line-height: 		150px;
	margin-right:   	150px;


}

h3{
	background: 		#F0B429;
	text-align: 		justify;

}

h5{
	background: 		#F0B429;
	text-align: 		center;

}

h2{
	background: 		#F0B429;
	text-align: 		left;

}









/*article {
	background: 	#F0B429;
	width: 			960px;
	margin: 		auto;
	margin-top: 	20px;
	margin-bottom:  20px;
}

section h2 {
	background: 	#F0B429;
	width: 			960px;
	margin: 		auto;
	margin-top: 	20px;
	margin-bottom:  20px;
}*/